<div class="page">
  <div class="container">
    <div class="left">
      <div class="check">Password check</div>
      <div class="eula">Check your password for strength</div>
    </div>
    <div class="right">
      <svg viewBox="0 0 320 300"></svg>
      <div class="form">
        <input type="password" placeholder="Password" id="password" [(ngModel)]="password" (keyup)="checkPassword()">
        <div class="password-strength-meter">
          <div [style.background]="strength[0]"></div>
          <div [style.background]="strength[1]"></div>
          <div [style.background]="strength[2]"></div>
        </div>
      </div>
    </div>
  </div>
</div>